body {
    overflow: hidden;
}
.navbar-brand {
    color: #155263;
    padding: 13px 0;
    font-size: 1.75rem;
    font-family: 'Archivo Black';
}

.navbar-light .navbar-brand{
    color: white;
}

.navbar {
    background-color: #1261A0;
}

#backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -10;
    filter: brightness(115%);

}

.search {
    padding: 13rem 30% 11rem;
}

footer {
    color: #676767;
    margin: 0 auto;
    text-align: center;
}