body {
    overflow: hidden;
}
.h1 {
    padding: 7px 0 5px;
    font-size: 1.75rem;
    font-family: 'Archivo Black';
}

.navbar-light .h1{
    color: white;
}

.navbar {
    /* background-color: #1261A0; */
    /* background-color: #3366CC; */
    background-color: #3b7dd8;
}

.logo {
    width: 12%;
    margin: 0 7px;
}

#backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -10;
    filter: brightness(110%);
    filter: saturate(150%);
}

.search {
    padding: 13rem 30% 10rem;
}

footer {
    color: #676767;
    margin: 0 auto;
    text-align: center;
}